<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="{{ path('app_agreement') }}">
                    <i class="fa fa-table"></i> <span>{{ 'agreement' | trans({}, 'menu') }}</span>
                </a>
                <a href="{{ path('app_company') }}">
                    <i class="fa fa-table"></i> <span>{{ 'company' | trans({}, 'menu') }}</span>
                </a>
                <a href="{{ path('app_relation') }}">
                    <i class="fa fa-table"></i> <span>{{ 'relation' | trans({}, 'menu') }}</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
