{% extends 'AppBundle::base.html.twig' %}

{% block contentheader %}
    {{ 'title_new' | trans({}, 'company') }}
{% endblock %}

{% block content %}
    <div class="box">
        <form method="POST">
            <div class="box-body with-border">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        {{ 'field.name' | trans({}, 'company') | raw }}
                    </label>
                    <div class="col-sm-10">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="box-footer">
                <div class="pull-right">
                    <button type="submit"
                       class="btn btn-block btn-primary">
                        {{ 'button.save' | trans({}, 'company') | raw }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            dkfCompanyForm = dokify.CompanyForm(dkfLayout);
            dkfCompanyForm.init();
        });
    </script>
{% endblock %}
